<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RadiusYandex.Mainsettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RadiusYandex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RadiusYandex.Mainsettings>
      <setting name="test" serializeAs="String">
        <value />
      </setting>
    </RadiusYandex.Mainsettings>
    <RadiusYandex.Properties.Settings>
      <setting name="token" serializeAs="String">
        <value />
      </setting>
      <setting name="width" serializeAs="String">
        <value>960</value>
      </setting>
      <setting name="height" serializeAs="String">
        <value>450</value>
      </setting>
      <setting name="maximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="authorizeclose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="updatesettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="updateurl" serializeAs="String">
        <value>http://kletsklib.by/assets/uploads/</value>
      </setting>
    </RadiusYandex.Properties.Settings>
  </userSettings>
</configuration>
